<p>
<a href="xcbot://{{hostname}}/botID/{{integration.bot._id}}/integrationID/{{integration._id}}">Open in Xcode</a> |
<a href="https://{{hostname}}/xcode/bots/{{integration.bot.tinyID}}">Open in Browser</a>
</p>
